<!DOCTYPE html>
<html>
    <head>
      <title>Birthday</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="/style/birthday.css">
       <link rel="stylesheet" href="/style/chat.css">
       <link rel="stylesheet" href="/style/layout.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
  <body>

<section class="jumbotron ">
</section>
<section class="services ">

            <div class="mission m-5 p-5">
                <div class="row">
                    <div class="col col-sm-12 col-md-4">
                    <h1 class="display-6 text-center">Our Mission</h1>
                    </div>
                    <div class="col col-sm- col-md-8">
                      <p>
                        Birthday Party Organisers for every budget, for children of every age with a guarantee that not as 
                        single moment would be dull. We will be your partners in your child's birthday events making it an 
                        extraordinary event that would impress one and all. Being tech-savvy, we have an acute eye for
                        looking up for the latest developments in the world and infuse them into your parties to make it
                        an avant-garde event. Birthday parties have a special importance in each child's life and we promise to 
                        make your child's birthday party distinctive and unforgettable.
                      </p> 
                      <p>
                        At Esparance , our aim is to decorate birthday parties in the style that the kids would love 
                        and keep them flabbergasted. After the theme is decided, we then design these balloon pillars 
                        in a number of ways and based on your choice we use them. With us, you do not have to worry about
                        anything, we are experts in planning,organizing and managing picture perfect parties that are loved
                        by one and all.
                      </p> 
                    </div>
                </div>
            </div>
</section>  

<section class="opinions">
    <div class="title">
      <h1>Other Popular Events</h1>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-img">
                <img src="../img/birthday3.jpeg" alt="card1" width="320" height="250"/>
            </div>
            <div class="card-info">
              <h4 class="card-title">
                Helium balloons</h4>
                <div class="card-creator">
                  <p> No matter how big or small a birthday bash you throw for your child, gas balloons are a superb way to fill the party area.
                    These balloons stay in air and give a please feel to the whole party venue. we have  got numerous ways in which it will fill 
                    the whole party room with gas balloons affording a delightful feel to the party.Kids are in love with gas balloons.</p>
                </div>
              <div class="card-footer text-center justify-content-center">
                  <a role="button" class="p-2" href="/gallery">View more</a>   
              </div>
            </div>
          </div>
            <div class="card">
                <div class="card-img">
                    <img src="../img/birthday6.jpeg" alt="card2" width="320" height="250"/>
                </div>
                <div class="card-info">
                  <h4 class="card-title">
                    Balloon pillars </h4>
                    <div class="card-creator">
                      <p> Balloon pillars add elegance, color and effervescence to a child’s birthday party.
                        esperance makes balloon pillars in numerous ways that will be an add-on in your decorations.
                        We use these pillars to add a distinct charm to a party. So on your girl's birthday party, 
                        we’ll make her and all her friends spellbound with castles having balloon pillar gates. 
                       </p>
                    </div>
                  <div class="card-footer text-center justify-content-center">
                      <a role="button" class="p-2" href="/gallery">View more</a>   
                  </div>
                </div>
              </div>

          <div class="card">
            <div class="card-img">
                <img src="../img/rakbir.jpg" alt="card3" width="320" height="250"/>
            </div>
            <div class="card-info">
              <h4 class="card-title">
                Balloon arches</h4>
                <div class="card-creator">
                  <p>Balloon arches make a party colorful, unique and fun-filled. 
                    Imagine the joy on the faces of children when they pass through a huge balloon arch at 
                    the entrance! Esperance believes in decorating your child’s birthday party with 
                    simple yet attract decorations to transform a party from normal to extraordinary. Wouldn’t it be innovative to place balloon arches.</p>
                </div>
              <div class="card-footer text-center justify-content-center">
                  <a role="button" class="p-2" href="/gallery">View more</a>   
              </div>
            </div>
          </div>
       </div>
  </section>

  <section class="explore container mt-5 pt-5">
        <div  class="line mt-5" >
          <span  class="linetext">Collections</span>
        </div>
        <div class="grid-container mt-5 pt-5">
            <div class="item item1">
                <img src="../img/birthday17.jpeg" alt="item1" />
            </div>
            <div class="item item2">
                <img src="../img/birthday14.jpg" alt="item1" />
            </div>
            <div class="item item3">
                <img src="../img/birthday8.jpeg" alt="item1" />
            </div>
        </div>
        <a  class="view text-center "href="/gallery">View More</a>
  </section>

<div class="booknow text-center justify-content-center mt-5 pt-5">
      <a role="button" class="btn btn-danger  btn-lg" href="/form"><i class="fa fa-calendar"></i> Book Now</a> 
       <a role="button" class="btn btn-warning  btn-lg"><i class="fa fa-phone fa-lg"></i> Get Price</a>
</div>
<!--Subscription-->
<%- include ("./partials/subscription.ejs"); %>
<!--Chat-->
<%- include ("./partials/chat.ejs"); %>
    <footer class="footer m-0 p-0">
      <%- include ("./partials/footer.ejs"); %>
        </footer>
        
        <script src="https://use.fontawesome.com/023136e510.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/chat.js"></script>
      </body>
</html>