<!DOCTYPE html>
<html>
    <head>
      <title>Festivals</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="/style/festivals.css">
       <link rel="stylesheet" href="/style/chat.css">
       <link rel="stylesheet" href="/style/layout.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
  <body>
 
<section class="jumbotron p-0 " style="background-color: #ffd1dc;">
  <div class="row m-0 p-0">
    <div class="col-12 col-sm-1"></div>
    <div class="col-12 col-sm-8  m-0 ">
        <img class=" ioverlay  "src="https://images.unsplash.com/photo-1562169254-5d5a1c7609c2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZmlyZSUyMHdvcmtzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="800" height="200" >
    </div>
    <div class= "col-12 col-sm-3 toverlay  p-4 h-2 d-none d-md-block">
      <p class="d-none d-md-block">
        Virtually celebrating each day of the year, there are more festivals celebrated in India than anywhere else in the world. Each festival pertains to different occasions, some welcome the seasons of the year, the harvest, the rains, or the full moon. Others celebrate religious occasions, the birthdays of divine beings and saints, or the advent of the New Year. A number of these festivals are common to most parts of India. 
        <br><a href="/gallery">View More</a>
      </p>
   </div>
</div>
</section>

<section class="services ">

          <div class="mission m-5 p-5">
              <div class="row">
                  <div class="col col-sm-12 col-md-4">
                    
                  <h1 class="display-6 text-center">Our Mission</h1>
                  </div>
                  <div class="col col-sm- col-md-8">
                    <p>
                      At Esparance, we follow a unique backend event process designed by our own event team, which ensures the highest level of quality during event execution.
                    </p> 
                    <p>
                      We are deeply committed to our clients’ success, striving to deliver the best possible result for them. 
                      The Core strength of our team of highly skilled and motivated event organising professionals. We have trained experts to organise and handle every event with its most beauty and perfection, more over their projections on technical and organizing skills. Event Team thrives on challenges, the bigger the better. We give a high quality and excellent services for our clients across many verticals. Our Services are marked by accelerated schedules of creativeness and 100% dedication in every breath.
                    </p> 
                  </div>
              </div>
          </div>


          <div class="container-fluid fests">
            
              <h1 class="text-center mt-5" style="position: relative; top: 30px;">Our Popular Events</h1>
            
              <div class="row pl-5">
                  <div class="col-12 col-sm-4 p-0 float-right">
                   <a href="/gallery">
                    <img class="img-fluid w-75 m-0 p-0" src="../img/fest8.jpeg" class="card-img-top" alt="holi">
                   </a>  
                      <div class="overlay">Holi</div>
                  </div>
                  <div class="col-12 col-sm-4 p-0 ">
                    <a href="/gallery">
                      <img class="img-fluid w-75 m-0 p-0" src="../img/fest2.jpg" class="card-img-top" alt="diwali">
                     </a>
                      <div class="overlay">Diwali</div>
                  </div>
                  <div class="col-12 col-sm-4  p-0">
                    <a href="/gallery">
                      <img class="img-fluid w-75 m-0 p-0" src="../img/fest15.jpg" class="card-img-top" alt="dusshera">
                     </a>
                      <div class="overlay align-center">Dusshera</div>
                  </div>
              </div>
            </div>
    </section>


<section class="illustration mt-5 pt-5">
    <div class="container quote my-5 p-5">
        <blockquote>
         <p> A festival is an event ordinarily celebrated by a community and centering on some characteristic aspect of that community and its religion or cultures. It is often marked as a local or national holiday, mela, or eid. A festival constitutes typical cases of glocalization, as well as the high culture-low culture interrelationship. Next to religion and folklore, a significant origin is agricultural. Food is such a vital resource that many festivals are associated with harvest time. Religious commemoration and thanksgiving for good harvests are blended in events that take place in autumn, such as Halloween in the northern hemisphere and Easter in the southern.
         </p>
         <p>
          Festivals often serve to fulfill specific communal purposes, especially in regard to commemoration or thanking to the gods and goddesses. They may also provide entertainment, which was particularly important to local communities before the advent of mass-produced entertainment. Festivals that focus on cultural or ethnic topics also seek to inform community members of their traditions; the involvement of elders sharing stories and experience provides a means for unity among families.
          In Ancient Greece and Rome, festivals such as the Saturnalia were closely associated with social organisation and political processes as well as religion. In modern times, festivals may be attended by strangers such as tourists, who are attracted to some of the more eccentric or historical ones. The Philippines is one example of a modern society with many festivals, as each day of the year has at least one specific celebration. 
        </p>
        </blockquote>
    </div>

    <div class="container works ">
        <div  class="line" >
            <span  class="linetext">Collections</span>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mt-5">
            <div class="col mb-4 p-5">
              <div class="card ">
                <img src="https://media.gettyimages.com/photos/cosplay-fans-attend-the-opening-day-of-new-york-comic-con-2013-at-the-picture-id183960373?k=6&m=183960373&s=612x612&w=0&h=iaDEyf1VQ8txYmWSUvGtZqFGS0FFPw0Cqdz9YQaU4cI=" class="card-img-top" alt="runway">
                <div class="card-body">
                  <h5 class="card-title">Comic Con</h5>
                  <p class="card-text">It is a California Nonprofit Public Benefit Corporation organized for charitable purposes and dedicated to creating the general public’s awareness of and appreciation for comics and related popular art forms, including participation in and support of public presentations, conventions, exhibits, museums and other public outreach activities which celebrate the historic and ongoing contribution of comics to art and culture.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4 p-5">
              <div class="card">
                <img src="../img/fest7.jpg" class="card-img-top" alt="balldance" width="300px" height= "310px">
                <div class="card-body">
                  <h5 class="card-title">Halloween</h5>
                  <p class="card-text">
                    Halloween is a holiday celebrated each year on October 31, and Halloween 2020 will occur on Saturday, October 31. The tradition originated with the ancient Celtic festival of Samhain, when people would light bonfires and wear costumes to ward off ghosts. In the eighth century, Pope Gregory III designated November 1 as a time to honor all saints. </p>
                </div>
              </div>
            </div>
         
          </div>
    </div>
    <a class="align-center text-center view" href="/gallery">View More</a>
  </section>
  
    <div class="booknow text-center justify-content-center mt-5 pt-5">
      <a role="button" class="btn btn-danger  btn-lg" href="/form"><i class="fa fa-calendar"></i> Book Now</a> 
       <a role="button" class="btn btn-warning  btn-lg">   <i class="fa fa-phone fa-lg"></i> Get Price</a>
    </div>

      <!--Subscription-->
      <%- include ("./partials/subscription.ejs"); %>
      <!--Chat-->
      <%- include ("./partials/chat.ejs"); %>
      <footer class="footer m-0 p-0">
            <%- include ("./partials/footer.ejs"); %>
      </footer>
  <script src="https://use.fontawesome.com/023136e510.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
  <script src="/js/scripts.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>