<!DOCTYPE html>
<html>
    <head>
      <title>Social Events</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="/style/social.css">
       <link rel="stylesheet" href="/style/chat.css">
       <link rel="stylesheet" href="/style/layout.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
  <body>

<section class="jumbotron p-0 " style="background-color: #aec6cf;">
  <div class="row m-0 p-0">
      <div class="col-sm-1">
      </div>
      <div class="col-12 col-sm-7  m-0 h-100">
          <br>
          <br>
          <img class="w-100 ioverlay "src="../img/soch7.jpg" >
      </div>
      <div class= "col-12 col-sm-3 toverlay  p-4   h-2 d-none d-md-block">
        <p class="d-none d-md-block">
          There is more than one reason why you must choose us. No other event organizers in Bangalore can come at par with our service. So, let us provide you with the reasons why you must choose us instead of other planners:
          We have a dedicated and efficient team that will conduct your social event meticulously and precisely.
          <br><br><a class="p-2" href="/gallery">View More</a>
        </p>
     </div>
  </div>
  </section>

  <section class="services ">
            <div class="mission m-5 p-5">
                <div class="row">
                    <div class="col col-sm-12 col-md-4">
                    <h1 class="display-6 text-center">Our Mission</h1>
                    </div>
                    <div class="col col-sm- col-md-8">
                      <p>We Are The Social Event Organizer In Bangalore To Look For
                        No matter what kind of social event you want to plan, you can give us a visit. We guarantee you that we, as a social event planner in Bangalore, will craft your event in such a way that your crowds will get enchanted. All you have to do is to convey your ideas to us, and after that, we will take charge. Our creative heads will tailor your insights correctly and will execute your event in a way that no one has ever done. We will make your social event one of its kind.
                      </p> 
                       
                    </div>
                </div>
            </div>

    <section class="container mb-5">
      <h1 class="text-center">Our Popular Events</h1>
        <div class="row mt-5">
            <div class="col info p-0 m-0 w-100 h-100">
                <h5 style="height: 100%;"class="text-center mt-5">Dog walking</h5><p class="text-center">Dog walking is the act of a person walking with a dog, typically from the dog's residence and then returning. Leashes are commonly used for this.Dog name is cooper </p>
            </div>
            <div class="col p-0 m-0  w-100 h-100 one11"><img src="../img/soch2.jpg" width="290px" height="230px"></div>
            <div class="col info p-0 m-0">
              <h5 class="text-center mt-5">Baby Shower</h5><p class="text-center">It is a party of gift-giving or a ceremony that has different names in different cultures</p>
            </div>
            <div class="col p-0 m-0">
                <img  width="290px" height="230px"  src="https://media.istockphoto.com/photos/fairy-themed-childrens-party-decoration-and-candy-decoration-concept-picture-id1180205198">
            </div>
        </div>
        <div class="row">
            <div class="col info p-0 m-0">
              <h5 class="text-center mt-5">House Warming</h5><p class="text-center">We not only provide the unique housewarming events, but we also take care of the convenience of our customers.</p>
            </div>
            <div class="col p-0 m-0">
                <img  width="290px" height="230px"  src="http://www.theshowmakers.in/wp-content/uploads/2019/05/house-warming-event.jpg">
            </div>
            <div class="col info p-0 mt-1">
              <h5 class="text-center mt-5">Concerts</h5><p class="text-center">You can have a concert version of an opera, but that means the singers stand there and sing without sets or props, and without much acting or moving around.</p>
            </div>
            <div class="col p-0 m-0">
                <img   width="290px" height="230px"  src="../img/soch6.jpg">
            </div>
        </div>
    </section>

<section class="container">
  <div  class="line" >
    <span  class="linetext">Collections</span>
</div>
    <ul class="main-nav">
        <li class="item1">
          <div class="bg"></div>
        </li>
        <li class="item2">
          <div class="bg"></div>
        </li>
        <li class="item3">
          <div class="bg"></div>
        </li>
        <li class="item4">
          <div class="bg"></div>
        </li>
        <li class="item5">
          <div class="bg"></div>
        </li>
      </ul>
</section>


<a class="align-center text-center view mt-5 " href="/gallery">View More</a>
<div class="booknow text-center justify-content-center mt-5 pt-5">
      <a role="button" class="btn btn-danger  btn-lg" href="/form"><i class="fa fa-calendar"></i> Book Now</a> 
       <a role="button" class="btn btn-warning  btn-lg">   <i class="fa fa-phone fa-lg"></i> Get Price</a>
</div>
<!--Subscription-->
<%- include ("./partials/subscription.ejs"); %>
<!--Chat-->
<%- include ("./partials/chat.ejs"); %>
<footer class="footer m-0 p-0">
      <%- include ("./partials/footer.ejs"); %>
</footer>
        

<script src="https://use.fontawesome.com/023136e510.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>