<div class="cont ">
  <div class="image">
    <div class="text text-center">
      <h1>Welcome to esperance</h1>
      <p>Are you planning to come up with a magnificent event?
           Do you want it to be one of its kind?  </br>
          Convey your ideas to us, and we will tailor the best event of your life. Login to Know More </p>
          <a class="btn btn-lg byy m-5" style="background-color: rgba(254, 173, 185);" role="button" href="/users/register">Get Started</a>
    </div>
  </div>
  </div>